.green {
    color: red;
    background-color: green;
    font-size: 20px;
}

body{
    background-color: gray;
}
img{
    height: 50% 50%;
    width: 20%;
}
/* #guapo{
    padding: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 10%;
    border-color: grey;
    position: center;
} */